{% extends "master_page/master_page.html" %}

{% block title %}Veto a ofertas{% endblock %}

{% block body %}

    <div>

        <form method="post" action="/oferta/veto/{{oferta_id}}/"
            onsubmit="return confirm('¿ Desea vetar la oferta ?')">
            {% csrf_token %}
            {# Include the hidden fields #}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {# Include the visible fields #}
            {% include 'blocks/input_text.html' with type='textarea' field=form.motivo_veto was_validated=validated id='id_motivo_veto' %}
            <input type="submit" value="Vetar la oferta" />
        </form>

    </div>

{% endblock %}